/* This is for the Main Page */
h1{
  text-align: center;
}
li{
  text-align: center;
  border-style: double;
  border-width: thick;
  position: relative;
  top:50px;
}
#navmenu{
  width:100%;
  list-style: none;
  z-index: 0;
  background-color: grey;
  text-align:center;
  left:0;
  top: 15px;
  font-size: 30px;
  position: relative;
  opacity: 0.5;
  /*display: inline;*/
}
body{
  text-align: center;


}
#signout{
  color: black;
  bottom: 0;
}
.myButton {
	background-color: grey;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	padding:5px 3px;
	text-decoration:none;
	text-shadow:-2px -1px 50px #2f6627;
  text-align: center;
}
.myButton:hover {
	background-color: blue;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* This is for the Login page */
.g-signin2{
  width: 100px;
  top:0;
  bottom: 10;
  left: 0;
  right: 0;
  margin: auto;
}

#customBtn {
    display: inline-block;
    background: #4285f4;
    color: white;
    width: 130px;
    left:20px;
    white-space: nowrap;
  }
  #customBtn:hover {
    cursor: pointer;
  }
span.label {
    font-weight: bold;
  }
span.icon {
    background: url('https://lh4.googleusercontent.com/-v0soe-ievYE/AAAAAAAAAAI/AAAAAAADJhs/etO68iVa3Hs/photo.jpg'),;
    background-size: 35px;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 37px;
    /*border-right: #2265d4 1px solid;*/
  }
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color:white;
    text-decoration: none;
    padding-right: 42px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    left: 13px;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}
#signup{
  color:white;
  text-decoration: none;
}
