<!DOCTYPE html>

<html lang="en" id='mainpage'>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <h1> Welcome to NewFeed </h1>
    <p> Please sign in with Google+ to continue: </p>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="881600187038-co0kp02bf3ffbfupnnrdes55ko1ued9r.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>

    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log("Name: " + profile.getName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
        window.location="http://localhost:16080";
      };
    </script>
    <p> If you do not have a google account, please sign up in the following site: </p>

    <div id="gSignInWrapper">
    <div id="customBtn" class="customGPlusSignIn">
      <span class="icon"></span>
      <span class="buttonText"><a href="https://accounts.google.com/signup" id='signup'> Sign Up</a></span>
    </div>
  </div>



  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="/javascript/javascript.js"></script>
</html>
