<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/loginstyle.css">
    <title>NewFeed</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <!-- <script src="/js/my_script.js"></script> -->
    </script>
  </head>
  <body>
    <div class="background-image"></div>
    <div id = "content">
      <h1>Welcome to <img  id='logo' src='../images/newfeedlogo.png'></h1>
      <p>Login with


      <div id="logins">
        <a href="login/fb"><img src="../images/fbbutton.png"></a>
        <a href="login/tw"><img src="../images/twbutton.png"></a>
      </div>
    </div>
  </body>
</html>

 <!-- or <a href="login/go">Google</a> -->
