<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <h1>Welcome to NewFeed</h1>
  </head>
  <body>
    <article id="navmenu">
      <tr>
        <td > Home --  </td>
        <td > Facebook --  </td>
        <td > Twitter -- </td>
        <td > News</td><br>
      </tr>
    </article>
    <li>
      <ul> This a post </ul>
    </li>
    <br><br><br><br>
    <a id ='signout' href='https://plus.google.com/'> Sign out from your Google+ page</a>
  </body>
</html>
